# Dependencies
node_modules
**/node_modules

# Environment
.env
backend/.env
frontend/.env

# Build
dist
build

# Logs
*.log

# Archives
*.zip

# PDFs
*.pdf

# VS Code
.vscode

# OS
.DS_Store
Thumbs.db